html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1000px;
    display: flex;
    margin: 0 auto;
    background-color: #7fffd4;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 20%;
    background-color: #c9d4d4;
    padding: 10px 20px 0px;
}
.header {
    background-color: #464747;
    min-height: 150px;
    background-size: contain;
    background-image: url(imagens/inicial.png);
}
.content {
    background-color: #dbd9d9;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(144, 144, 146);
    min-height: 150px;
    font-size: x-large;
    text-align: center;
}
  table{
    background-color: #7fffd4;
    align-items: center;
  }
 